.main{
      width: 100vw;
      height: 60vh;
      background-color: aqua  ;
      color: brown;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 5px solid white;
}