.header{
      width: 100vw;
      height: 10vh;
      background-color: rgb(0, 0, 0)  ;
      color: rgb(237, 232, 232);
      display: flex;
      align-items: center;
      justify-content: center;
}